<div id="hpCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url(<%= asset_path 'skifood-hp-carousel1.jpg' %>);">
      <div class="carousel-caption">
        <h1><%= t('hp-carousel.slide1_html') %></h1>
        <p>Nulaaala&shy; vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url(<%= asset_path 'skifood-hp-carousel2.jpg' %>);">
      <div class="carousel-caption">
        <h1><%= t('hp-carousel.slide2_html') %></h1>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#hpCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#hpCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <%= link_to '#menu', class: 'scroll-down-link' do %>
    <i class="fas fa-chevron-down animated pulse"></i>
  <% end %>
</div>

