<div class="navbar-container">
  <div class="navbar-expand-md navbar-skifood container <%= navbar_type %>">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= inline_svg_tag("logo-skifood2.svg") %>
      <%= inline_svg_tag("logo-skifood-name.svg", class: 'navbar-name') %>
    <% end %>

    <div class="navbar-right">
      <button id="menu-toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="menu-toggle-inner">
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to t('navbar.menu'), root_path(anchor: 'menu'), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('navbar.location'), root_path(anchor: 'location'), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('navbar.contact'), root_path(anchor: 'contact'), class: "nav-link" %>
          </li>
        </ul>
      </div>

      <div class="language-selector dropdown">
        <button class="" type="button" id="languageSelectorBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= inline_svg_tag("flags/#{locale.to_s}.svg") %>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageSelectorBtn">
          <% @my_locales.each do |my_locale| %>
            <% unless my_locale == locale.to_s %>
              <span class="dropdown-item language-selector-item" data-locale="<%= my_locale %>">
                <%= inline_svg_tag("flags/#{my_locale}.svg") %>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
