<div class="navbar navbar-expand-md navbar-skifood <%= navbar_type %>">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= inline_svg_tag("logo-skifood.svg") %>
    <div class="navbar-name">
      <span>SKI</span> <span>FOOD</span>
    </div>
  <% end %>

  <button id="menu-toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div class="menu-toggle-inner">
      <span></span>
    </div>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Menu", root_path(anchor: 'menu'), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Où nous trouver ?", root_path(anchor: 'location'), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", root_path(anchor: 'contact'), class: "nav-link" %>
      </li>
    </ul>
  </div>
  <div class="language-selector">
    <ul>
      <% locales = [:fr, :en] %>
      <% locales.each do |lo| %>
        <% if lo == locale %>
          <li><%= link_to 'French', request.fullpath %></li>
        <% else %>
          <li> <%= link_to 'English', "#{request.fullpath}/en" %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
