<div class="container mb-5">
  <%= simple_form_for(@dish) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <% @dish.ingredients.each_with_index do |ingredient, i| %>
      <%= f.input "Ingredient #{i+1}", input_html: {value: ingredient, name: 'dish[ingredients][]'}  %>
    <% end %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
