<div class="container mt-110 mb-5 dish-form">
  <%= simple_form_for(@dish) do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description, as: :text %>
    <div class="ingredients-wrapper">
      <p><b>Ingredients</b></p>
      <% @dish.ingredients.each_with_index do |ingredient, i| %>
        <div class="form-group ingredient-field">
          <%= text_field_tag 'dish[ingredients][]', ingredient, class: "form-control"  %>
          <i class="fas fa-trash-alt"></i>
        </div>
      <% end %>
    </div>
    <div class="text-right">
      <button class="btn btn-secondary add-ingredient">AJOUTER INGREDIENT</button>
    </div>
    <%= f.input :photo, as: :file %>
    <%= f.input :order %>
    <%= f.submit value: 'EDITER', class: 'btn submit-btn w-100' %>
  <% end %>
</div>
