<div class="container mt-110 mb-5 dish-form">
  <%= simple_form_for(@dish) do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description, as: :text %>
    <% @dish.ingredients.each_with_index do |ingredient, i| %>
      <div class="form-group ingredient-field">
        <%= label_tag "dish_ingredient_#{i+1}" do %>
          <span><%= "Ingredient #{i+1}" %></span>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <%= text_field_tag 'dish[ingredients][]', ingredient, class: "form-control"  %>
      </div>
    <% end %>

    <%= f.input :photo, as: :file %>
    <%= f.submit value: 'EDITER' %>
  <% end %>
</div>
