<div class="dish-card">
  <%= cl_image_tag @dish.photo.key %>
  <div class="dish-card-info">
    <div class="dish-card-info-top">
      <h1><%= @dish.name %></h1>
      <span><%= number_to_currency(@dish.price, precision: 2) %></span>
    </div>
    <div class="ingredients-grid">
      <% @dish.ingredients.each do |ingredient| %>
        <span><%= ingredient.capitalize %></span>
      <% end %>
    </div>
    <p><em><%= @dish.description %></em></p>
  </div>
</div>
