<div class="container section">
  <div class="dish-card animated fade-down">
    <% if current_user&.admin %>
      <%= link_to edit_dish_path(@dish), class: 'edit-dish' do %>
         <i class="fas fa-pen"></i>
      <% end %>
    <% end %>
    <%= cl_image_tag @dish.photo.key %>
    <div class="dish-card-info">
      <div class="dish-card-info-top">
        <h1><%= @dish.name %></h1>
        <span><%= number_to_currency(@dish.price, precision: 2) %></span>
      </div>
      <% if @dish.ingredients %>
        <div class="ingredients-grid">
          <% @dish.ingredients.each do |ingredient| %>
            <span><%= ingredient.capitalize %></span>
          <% end %>
        </div>
      <% end %>
      <% if @dish.description %>
        <p><em>"<%= @dish.description %></em>"</p>
      <% end %>
    </div>
  </div>
</div>
