<div class="categories section container">
  <div id="menu" class="hp-anchor-link"></div>
  <% @categories.each do |category| %>
    <div class="category-title">
      <h2><%= category.name %></h2>
      <%= inline_svg_tag("category-icons/#{category.name.gsub(' ', '')}.svg") %>
      <% if current_user&.admin %>
        <%= link_to edit_category_path(category), class: 'edit-category' do %>
           <i class="fas fa-pen"></i>
        <% end %>
      <% end %>
    </div>
    <div class="dish-grid">
      <% category.dishes.each do |dish| %>
        <div class="dish-grid-card animated" data-animation-on-scroll="fade-up">
          <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="dish-grid-card-right">
            <h3><%= dish.name %></h3>
            <div class="dish-grid-card-infos">
              <span><%= dish.ingredients.join(', ') if dish.ingredients %></span>
              <span class="dish-grid-card-price"><%= number_to_currency(dish.price, precision: 2) %></span>
            </div>
          </div>
          <%= link_to '', dish_path(dish)  %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
