<div class="categories-container">
  <% @categories.each do |category| %>
    <h2><%= category.name %></h2>
    <div class="dish-grid">
      <% category.dishes.each do |dish| %>
        <div class="dish-grid-card">
          <%= cl_image_tag dish.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="dish-grid-card-right">
            <h3><%= dish.name %></h3>
            <div class="dish-grid-card-infos">
              <span><%= dish.description %></span>
              <span class="dish-grid-card-price"><%= number_to_currency(dish.price, precision: 2) %></span>
            </div>
          </div>
          <%= link_to '', dish_path(dish)  %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
