<!DOCTYPE html>
<html>
  <head>
    <title>Ski Food</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="turbolinks-cache-control" content="no-preview">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= favicon_link_tag 'favicon.png'%>
  </head>

  <body>
    <%= render partial: 'shared/navbar', locals: { navbar_type: '' } %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/hp_carousel' %>
    <%= yield %>
    <%= render 'shared/location' %>
    <%= render 'shared/footer' %>
  </body>
</html>
